body{
    background-color: rgb(167, 142, 0);
}
img{
    height: 250px;
    width: 250px;
}
h1{
    color: darkred;
}
p{
    color: indigo;
    font-size: 26px;
}
ul li{
    color:red;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    
}
