* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100%;
    margin: 0;
    line-height: 1.5;
  }
  
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  li {
    list-style-type: none;
  }
  header {
    color: white;
    background-color: rgb(196, 145, 145);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    margin: 20px;
  }
  nav ul {
    margin: 20px;
    padding: 0;
    display: flex;
  }
  nav li {
    margin: 0 2rem;
  }
  main {
    display: flex;
  }
  .main-right {
    width: 30%;
    padding: 1.5em 1em;
    margin: 10px;
    color: #fff;
    background-color: #333;
    border: 5px solid #000;
  }
  .main-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  
  .main-left h2,
  .main-left p {
    margin: 10px;
  }
  
  .cards-list {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 33.333%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    margin: 10px;
    border: 1px solid black;
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
  }
  .card h3 {
    margin: 0;
    padding: 0.5em 1em;
    font-size: 1.25rem;
    color: #fff;
    background-color: #333;
  }
  .card p {
    margin: 0;
    padding: 2.5em 1em;
  }
  @media (max-width: 40rem) {
    header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
    nav ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    nav li {
      border-bottom: 2px solid black;
      padding: 20px;
    }
    .main-right {
      width: 100%;
    }
  
    .cards-list {
      display: flex;
      flex: 0 1 50%;
  
      flex-direction: column;
    }
    .card {
    }
  }
  @media (max-width: 80rem) {
    .cards-list {
      display: flex;
      flex: 0 1 40%;
    }
    main {
      display: flex;
      flex-direction: column;
    }
    .main-right,
    .main-left {
      width: 100%;
      margin: 0;
    }
    .card {
      flex: 0 1 33.333%;
      display: flex;
      flex-direction: column;
    }
  }