*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background: rgb(45,107,52);
    background: linear-gradient(90deg, rgba(45,107,52,1) 6%, rgba(42,160,55,1) 30%, rgba(41,172,56,1) 64%, rgba(39,199,58,1) 77%, rgba(49,99,64,1) 93%);
}
.container{
    width: 100%;
    max-width: 1250px;
    max-width: 0 auto;
    padding: 0 15px;
    margin: 0 auto;
}
.header-inner{
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-inner>h1, .footer-inner{
    color: white;
}
.main-inner{
    width: 100%;
    height: 700px;
    display: flex;
}
.main-inner--left{
    width: 30%;
    height: 100%;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-inner--right{
    width: 70%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main-right--img{
    display: flex;
    justify-content: center;
    align-items:center;
}
img{
    width: 84%;
    height: 320px;
}
ul{
    list-style-type: none;
}
ul>li{
    font-size: 50px;
    font-weight: 500px;
    line-height: 100px;
}
ul>li:hover{
    cursor: pointer;
    font-size: 60px;
    font-weight: 700;
    color: rgb(255, 8, 8);
}
.block{
    width: 150px;
    height: 150px;
    background-color: black;
}
.block:hover{
    background:rgb(128, 2, 117);
    cursor:pointer;
    width: 155px;
    height: 155px;
}
.main-block{
    display: flex;
    justify-content: space-around;
}
.main-bottom>h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 55px;
    color: white;
}
.footer-inner{
    width: 100%;
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
